.home {
    flex-grow: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    margin-top: 10%;
    margin-bottom: 5%;
}

.home .title {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-family: "Righteous", cursive;
}

.home .title p {
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
}

.home .title button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 30px;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 999px;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

.home .title button:hover {
    color: #afbdc9;
}

.home .person {
    width: 100%;
    margin-top: 20px;
    text-align: center!important;
}

.home .person img {
    width: 75%!important;
    border-radius: 50%;
    margin: auto;
}


a {
    color: black;
}

h1 {
    font-size: 70px!important;
    color: gray!important;
    font-family: 'Roboto', sans-serif;
}


h4 {
    margin-top: -10px!important;
    margin-bottom: -10px!important;
    color: black;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.arrow {
    font-size: x-large;
    text-align: center;
    animation: bouncing 1s infinite ease-in-out;
    position: absolute;
    display: block;
}
@media (min-width: 800px) {
    .home {
        flex-direction: row;
        justify-content: space-between;
    }
    .home .title,
    .home .person {
        width: 50%;
        margin-top: 0;
        text-align: left;
        font-size: 25px;
    }
    .home .person img {
    width: 100%;
    }
}