.footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

i {
    font-size: 35px;
    padding: 15px;
    color: black;
}

i:hover {
    color: #afbdc9;
}

p {
    padding-left: 15px;
    color: black;
}
