.app {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    min-height: 100vh;
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color:black;
}

a {
    color: black;
}

@media (min-width: 800px) {
    .app {
        padding: 0 100px;
        margin-top: 5vh;
        min-height: 90vh;
    }
}